 
<footer class="footer">
    <div class="footer-container">
        <!-- Social Media Icons -->
        <div class="social-icons">
            <a href="https://www.instagram.com/cucs_2025?igsh=eXM1ZzE3cmJ2cmU1" target="_blank" class="social-link"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/christ-university-computer-science-958aaa299/" target="_blank" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://christuniversity.in/departments/main%20campus/school%20of%20sciences/computer%20science" target="_blank" class="social-link"><i class="fa-solid fa-globe"></i></a>
        </div>

        <!-- Copyright -->
        <p class="footer-text">ZeroCodeML &copy; 2025 | All Rights Reserved.</p>
        <p class="footer-class">Batch of MSc AIML</p>
    </div>
</footer>
