 
<nav class="navbar">
    <div class="navbar-container">
        <!-- Left Side: Logo -->
        <div class="navbar-logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="ZeroCodeML Logo" class="logo-img">
            <span class="website-name"><b>ZeroCodeML</b></span> 
        </div>

        <!-- Center: Navigation Links -->
        <ul class="navbar-menu">
            <li><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
            <li><a href="{{url_for('articles')}}" class="nav-link">Articles</a></li>
            <li><a href="{{url_for('ts')}}" class="nav-link">Terms & Policies</a></li>
        </ul>

        
        <!-- Right Side: Get Started Button -->
        <div class="navbar-button-container">
            <a href="{{url_for('about')}}" class="get-started-button">About Us</a>
        </div>
        
    </div>
</nav>