<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZeroCodeML - AI for Everyone</title>
</head>
<body>
    <form action="{{url_for('home')}}" method="post" enctype="multipart/form-data">
        <label for="csvFile">Upload CSV:</label>
        <input type="file" id="csvFile" name="csvFile" accept=".csv" required><br><br>        
        <button type="submit">Submit</button>
    </form>
</body>
</html> 
